<h1>TENANTS INDEX</h1>

<% @tenants.each do |tenant| %>
	<h3><%= link_to "#{tenant.first_name} #{tenant.last_name}", tenant_path(tenant) %></h3>
<% end %>

<p><%= link_to 'home', '/' %></p>
<p><%= link_to 'Add a new tenant', new_tenant_path %></p>