.tenant-wrapper{
	box-shadow: 1px 1px 3px lightgray;
	padding: 10px;
	border-radius: 2px;
}

.tenant-list{
	width: 700px;
}
.tenant-name{
	text-decoration: none;
	color: $first;
	&:hover{
		text-decoration: none;
		color: $second;
	}
}
.tenant-info{
	display: flex !important;
	justify-content: flex-start;
}
.tenant-info-cell{
	margin: 20px;
	width: 50%;
  font-weight: lighter;
}
.tenant-index-wrapper{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
}
.tenant-index-header{
	margin-left: 10%;
}
.buttons-index{
	display: flex;
	margin: 10px;
}
.md-btn-primary{
	color: $base-white;
	margin: 10px;
	background: $second;
	&:hover{
	background: $second;
	opacity: 0.7;
	transition: 0.3s ease;

	}
}