
<div class="container">
	<div class=" card-buttons-container">
		<%= link_to tenants_path do  %>
			<div class="home-card col-md-6">
				<div class="home-icon home-tenant"></div>
				<div class="home-card-name">Tenants</div>
			</div>
		<%end %>
		<%= link_to locations_path do  %>
			<div class="home-card col-md-6">
				<div class="home-icon home-location"></div>
				<div class="home-card-name">Location</div>
			</div>
		<%end%>
	</div>
</div>
