
<div class="container">
	<h1> Locations </h1>
	<% @locations.each do |location| %>
		<h3><%= link_to location.name, location_path(location) %></h3>
		<% location.flats.each do |flat| %>
			<p><%= flat.flat_type %></p>
		<% end %>
	<% end %>	


<p><%= link_to 'home', '/' %></p>
<p><%= link_to 'Create new Location', new_location_path %></p>
</div>