
<div class="container">
	<h1> Locations </h1>
	<% @locations.each do |location| %>
		<h3><%= link_to location.name, location_path(location) %></h3>
		<% location.flats.each do |flat| %>
			<p><%= flat.flat_type %></p>
		<% end %>
	<% end %>	
</div>


<p><%= link_to 'home', '/' %></p>